/* COLORS:
#8B4136
#FFFAF2
#F5D6AB
#C66C49
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #8b4136;
  background-color: #fffaf2;
  overflow-x: hidden;
}
header {
  width: 100%;
  background-color: #fffaf2;
}

.logo {
  height: 4.8rem;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  border: none;
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #c66c49;
  color: #fffaf2;
}

.btn--full:hover,
.btn--full:active {
  background-color: #8b4136;
  color: #fffaf2;
}
h2 {
  font-weight: 700;
  font-size: 3.2rem;
  text-align: center;
  margin-bottom: 2.4rem;
}

/**************************/
/* NAVIGATION */
/**************************/
nav {
  width: 100%;
  padding: 2.4rem 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  text-decoration: none;
  color: #8b4136;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #c66c49;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fffaf2;
  background-color: #8b4136;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #c66c49;
}
.navbar-toggler {
  background-color: #8b4136;
}
/**************************/
/* HERO */
/**************************/

.section-hero {
  background-color: #fffaf2;
  padding: 9.6rem 0 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-text-box h1 {
  letter-spacing: 0.5rem;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}
.download {
  color: #8b4136;
}
.hero-img {
  width: 100%;
}

/**************************/
/* PROJECTS */
/**************************/

.section-projects {
  padding: 9.6rem 0;
  max-width: 100rem;
  margin: 0 auto;
}

.carousel-item img {
  border-radius: 1.2rem;
}

.carousel-item h3 {
  font-weight: 800;
  color: #8b4136;
  display: inline-block;
  background-color: #fffaf2;
  padding: 1.2rem 1.2rem;
  border-radius: 9px;
}

.carousel-item p {
  font-weight: 700;
  font-size: 1.2rem;
  color: #8b4136;
  display: inline-block;
  background-color: #fffaf2;
  padding: 1.2rem 1.2rem;
  border-radius: 9px;
}
/**************************/
/* SKILLS */
/**************************/
.section-skills {
  padding: 9.6rem 0;
}
.skills {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}
.skills-img {
  width: 75%;
}
.progress-bar {
  width: 0;
  animation: progress 1.5s ease-in-out forwards;
  background-color: #8b4136;
  color: #fffaf2;
}

.title {
  opacity: 0;
  animation: show 0.35s forwards ease-in-out 0.5s;
}

@keyframes progress {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/**************************/
/* CONTACT */
/**************************/
.container {
  max-width: 60%;
  margin: 0 auto;
  padding: 1em;
}

ul {
  list-style: none;
  padding: 0;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgb(198, 108, 73, 0.7);
}

.wrapper > * {
  padding: 1em;
}

.social-info {
  background-color: #8b4136;
  color: #fffaf2;
}
.social-info ul {
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
ion-icon {
  fill: #f5d6ab;
  font-size: 1.8rem;
}

.social-info h3,
.social-info ul {
  text-align: center;
  margin: 0 1rem 0;
}

.contact {
  background: #fffaf2;
}

/* FORM STYLES */

.contact form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.contact form label {
  display: block;
}

.contact form p {
  margin: 0;
}

.contact form .full {
  grid-column: 1 / 3;
}

.contact form button,
.contact form input,
.contact form textarea {
  width: 100%;
  padding: 1em;
  background-color: #fffbf5;
  border: 1px solid #8b4136;
}

.contact form button {
  background: #f5d6ab;
  border: 0;
  text-transform: uppercase;
}

.contact form button:hover,
.contact form button:focus {
  background: #c66c49;
  color: #fffaf2;
  outline: 0;
  transition: background-color 1s ease-out;
}

/* LARGE SCREENS */
@media (min-width: 700px) {
  .wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr;
  }

  ion-icon {
    font-size: 2.4rem;
  }

  .wrapper > * {
    padding: 2em;
  }

  .social-info h3,
  .social-info ul {
    text-align: center;
  }
}

/**************************/
/* FOOTER */
/**************************/
.logof {
  height: 9.6rem;
}
footer p {
  display: inline;
  font-size: 1.2rem;
}
/**************************/
/* QUERIES*/
/**************************/
/* BELOW 1344px (Smaller desktops) */
@media (max-width: 84em) {
  .hero,
  .skills {
    max-width: 120rem;
  }

  .heading-primary {
    font-size: 4.4rem;
  }
}
/* BELOW 1200px (Landscape Tablets) */
@media (max-width: 75em) {
  html {
    /* 9px / 16px  */
    font-size: 56.25%;
  }

  .hero,
  .skills {
    gap: 4.8rem;
  }
}
/* BELOW 944px (Tablets) */
@media (max-width: 59em) {
  html {
    /* 8px / 16px = 0.5 = 50% */
    font-size: 50%;
  }

  .hero,
  .skills {
    grid-template-columns: 1fr;
    padding: 0 8rem;
    gap: 6.4rem;
  }

  .hero-text-box,
  .hero-img-box,
  .skills-info,
  .skills-icon {
    text-align: center;
  }

  .hero-img,
  .skills-img {
    width: 60%;
  }
}
/* BELOW 544px (Phones) */
@media (max-width: 34em) {
  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }

  .section-hero,
  .section-skills {
    padding: 2.4rem 0 6.4rem 0;
  }

  .hero,
  .skills {
    padding: 0 3.2rem;
  }

  .hero-img,
  .skills-img {
    width: 80%;
  }
}
